{% extends 'common/Red_devil_Hall/base.html'%}
{% block title %}
作者菌相册
{% endblock %}
{% block imga %}
    <img src="{{ url_for('static',filename='background_imaga/logo5.png') }}" alt="">
{% endblock %}
{% block note_bose %}
    <img src="{{ url_for('static',filename='Photos/001.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/002.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/003.png') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/004.jpeg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/005.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/006.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/007.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/008.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/009.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/010.jpeg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/011.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/012.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='Photos/013.jpeg') }}" alt="">


{% endblock %}